* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
body {
    background-color: #1E2021 !important;
    overflow: hidden;
}
.main {
    height: 100%;
}
.battle-main {
    border: 8px solid #776454;
    background-image: url(../img/gui/gameBackground.png);
    background-position: 70% 10%;
}
.game_title {
    text-shadow: 5px 5px 1px black;
    color: #e98a1d;
}
.player-section__move, .computer-section__move {
    height: 120px;
}
.sprites {
    height: 265px;
}
.vs-section {
    text-shadow: 5px 5px 1px black;
    color: #e98a1d;
}
.rounds-box {
    background: url(../img/gui/playerScoreBoard.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
input:focus {
    outline: none;
}
.player-section__info {
    background: url(../img/gui/playerScoreBoard.png);
    width: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.computer-section__info {
    background: url(../img/gui/computerScoreBoard.png);
    width: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 
.player-section__name, 
.computer-section__name, 
.battle-info__display,
.scoreboard__computer-score,
.scoreboard__player-score,
.rounds_title,
.rounds_title input {
    text-shadow: 0px 1px 0px rgba(155, 155, 155, 0.5);
    color: #3a2f26;
}
.battle-info__display {
    width: 20%;
    height: 270px;
    padding: 30px;
    background-image: url(../img/gui/mainBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.attack-border {
    width: 4100%;
    height: 270px;
    padding-left: 100px;
    padding-right: 110px;
    background-image: url(../img/gui/mainBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.attacks {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
#reset {
    width: 80px;
    cursor: pointer;
}
.attacks:nth-of-type(n) {
    margin-right: 0px;
}
/* -------------------------BUTTONS */
.push, .reset-con{
    padding: 0;
    border-radius: 50%;
    background: #3a2f26;
    cursor: pointer;
}
.attacks, .reset {
    display: block;
    border-radius: 12px;
    color: white;
    transform: translate(-3px, -04px);
}
.push:active .attacks {
    transform: translateY(-2px);
}
.reset {
    border-radius: 12px;
    color: white;
    transform: translate(-3px, -04px);
}
.reset-con:active .reset {
    transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
    .battle-main {
        background-position: 0% 50%;
    }
    .player-section__info, .computer-section__info, .rounds-box {
        background: none;
    }
    .attack-border {
        padding-left: 50px;
        padding-right: 50px;
    }
    .rounds-box {
        width: 120px;
    }
    .player-section__info, .computer-section__info {
        padding: 0px;
    }
}
@media only screen and (max-width: 320px) {
    .player-section__info > div, .computer-section__info > div {
        font-size: 18px !important;
    }
    .attack-border {
        background: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sprites {
        height: 100px !important;
    }
}

/* --------FIREWORKS CODEPEN USER: alvaromontoro */
@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }