* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
body {
    background-color: #1E2021 !important;
}
.main {
    height: 100%;
}
.battle-main {
    border: 8px solid #776454;
    background-image: url(../img/gui/gameBackground.png);
    background-position: 70% 10%;
}
.game_title {
    text-shadow: 5px 5px 1px black;
    color: #e98a1d;
}
.player-section__move, .computer-section__move {
    height: 120px;
}
.sprites {
    height: 265px;
}
.vs-section {
    text-shadow: 5px 5px 1px black;
    color: #e98a1d;
}
.rounds-box {
    background: url(../img/gui/playerScoreBoard.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
input:focus {
    outline: none;
}
.player-section__info {
    background: url(../img/gui/playerScoreBoard.png);
    width: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.computer-section__info {
    background: url(../img/gui/computerScoreBoard.png);
    width: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 
.player-section__name, 
.computer-section__name, 
.battle-info__display,
.scoreboard__computer-score,
.scoreboard__player-score,
.rounds_title,
.rounds_title input {
    text-shadow: 0px 1px 0px rgba(155, 155, 155, 0.5);
    color: #3a2f26;
}
.battle-info__display {
    width: 20%;
    height: 270px;
    padding: 30px;
    background-image: url(../img/gui/mainBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.attack-border {
    width: 4100%;
    height: 270px;
    padding-left: 100px;
    padding-right: 110px;
    background-image: url(../img/gui/mainBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.attacks {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
#reset {
    width: 80px;
    cursor: pointer;
}
.attacks:nth-of-type(n) {
    margin-right: 0px;
}
/* -------------------------BUTTONS */
.push, .reset-con{
    padding: 0;
    border-radius: 50%;
    background: #3a2f26;
    cursor: pointer;
}
.attacks, .reset {
    display: block;
    border-radius: 12px;
    color: white;
    transform: translate(-3px, -04px);
}
.push:active .attacks {
    transform: translateY(-2px);
}
.reset {
    border-radius: 12px;
    color: white;
    transform: translate(-3px, -04px);
}
.reset-con:active .reset {
    transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
    .battle-main {
        background-position: 0% 50%;
    }
    .player-section__info, .computer-section__info, .rounds-box {
        background: none;
    }
    .attack-border {
        padding-left: 50px;
        padding-right: 50px;
    }
    .rounds-box {
        width: 120px;
    }
    .player-section__info, .computer-section__info {
        padding: 0px;
    }
}
@media only screen and (max-width: 320px) {
    .player-section__info > div, .computer-section__info > div {
        font-size: 18px !important;
    }
    .attack-border {
        background: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sprites {
        height: 100px !important;
    }
}