* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
body {
    background-color: #1E2021 !important;
    height: 100vh;
    /* background: #15353A !important; */
}
.battle-main {
    background-image: url(../img/gui/gameBackground.png);
    background-position: 70% 10%;
    border: 8px solid #776454;
}
.display {
    color: #e98a1d;
    text-shadow: 5px 5px 1px black;
    font-size: 4rem;
}
.player-section__move, .computer-section__move {
    height: 120px;
}
.sprites {
    height: 310px;
}
.vs-section {
    color: #e98a1d;
    text-shadow: 5px 5px 1px black;
    font-size: 4rem;
}
.player-section__info, .computer-section__info {
    background: url(../img/gui/playerScoreBoard.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    padding: 30px;
    text-shadow: 1px 1px 2px black;
}
.computer-section__info {
    background: url(../img/gui/computerScoreBoard.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    padding: 30px;
    text-shadow: 1px 1px 2px black;
} 
.battle-info__display {
    background-image: url(../img/gui/mainBorder.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 270px;
    padding: 30px;
    text-shadow: 1px 1px 2px black;
}
.attacks {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
#reset {
    width: 80px;
    height: 80px;
}
.attacks:nth-of-type(n) {
    margin-right: 0px;
}
/* BUTTONS */
.push {
    background: #647986;
    /* border: none; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    /* outline-offset: 10px; */
}
.attacks, .reset {
    display: block;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    transform: translate(-3px, -04px);
}
.push:active .attacks {
    transform: translateY(-2px);
}
.reset-con {
    background: #647986;
    /* border: none; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    /* outline-offset: 10px; */
}
.reset {
    /* display: block; */
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    transform: translate(-3px, -04px);
}
.reset-con:active .reset {
    transform: translateY(-2px);
}
/* ANIMATION */
:root {
    --animate-delay: 0.5s;
  }